html {
  /* font-size: 62.5%; 16 px * 62.5=10 px = 1rem */
  font-size: 16px;
  box-sizing: border-box;
}
body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.grid-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  justify-content: center;
}

.grid-container-form {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  /* justify-content: center; */
  align-items: center;
}

.left-section {
  width: 60%;
  background-color: #e4e6e5;
  border-radius: 10px;
  margin: 40px 20px;
}
.right-section {
  width: 40%;
  background-color: #007273;
  margin: 15px;
}
.news {
  margin: 20px;
}
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
.font-header {
  font-size: 22px;
  font-family: "Kanit", sans-serif;
}

.right-detail {
  text-align: center;
}
.set {
  width: 70%;
  margin: 0 auto;
}
.bullet {
  list-style: none;
}
.text-bold {
  font-weight: bold;
}
.test {
  font-family: sans-serif;
  text-align: center;
}
